

.agitation__panel {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	color: #FFFFFF;
	margin-bottom: 20px;
}
.agitation {
	margin-top: 75px;
	margin-left: 70px;
}
.social__panel {
	display: flex;
}
.social__network {
	width: 20px;
	height: 20px;
	fill: #FFFFFF;
}