
.customer {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	padding-top: 94px;
	padding-bottom: 50px;
	&__list {
		display: flex;
		margin-bottom: 94px;
		justify-content: center;
	}
	&__item {
		outline: 1px solid #AFB1B8;
		border-radius: 4px;
		width: 170px;
		height: 92px;
		margin-right: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&:hover .button__icon {
			fill: #2196F3;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
		&:hover {
			outline: 1px solid #2196F3;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
	}

	&__icon {
		width: 106px;
		height: 60px;
		fill: #AFB1B8;
		&:hover {
			fill: #2196F3;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}
	}
}

